openapi: 3.1.0
info:
  title: Matric Memory API
  description: |
    AI-enhanced note storage and retrieval system with semantic search.

    ## Features
    - **Notes**: CRUD operations for markdown notes
    - **Tags**: Organize notes with tags
    - **Search**: Full-text and semantic hybrid search
    - **Links**: Automatic linking between related notes
    - **Jobs**: Background processing for AI enhancement
    - **OAuth2**: Full OAuth2 support with Dynamic Client Registration (RFC 7591)

    ## Authentication
    The API supports two authentication methods:
    - **OAuth2**: Authorization Code, Client Credentials, and Refresh Token grants
    - **API Keys**: Simple Bearer token authentication for trusted integrations

    See the OAuth2 endpoints below for client registration and token management.
  version: 0.1.0
  contact:
    name: Matric Memory Team
    url: https://git.integrolabs.net/roctinam/matric-memory

servers:
  - url: https://memory.integrolabs.net
    description: Production server

security:
  - bearerAuth: []
  - oauth2: []

paths:
  /.well-known/oauth-authorization-server:
    get:
      summary: OAuth2 Authorization Server Metadata
      description: Returns OAuth2 server metadata per RFC 8414
      operationId: oauthDiscovery
      tags: [OAuth]
      security: []
      responses:
        '200':
          description: Authorization server metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerMetadata'

  /oauth/register:
    post:
      summary: Register OAuth2 Client
      description: Dynamic Client Registration per RFC 7591
      operationId: oauthRegister
      tags: [OAuth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRegistrationRequest'
      responses:
        '201':
          description: Client registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientRegistrationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'

  /oauth/token:
    post:
      summary: Request Access Token
      description: Token endpoint supporting authorization_code, client_credentials, and refresh_token grants
      operationId: oauthToken
      tags: [OAuth]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'

  /oauth/introspect:
    post:
      summary: Introspect Token
      description: Token introspection per RFC 7662
      operationId: oauthIntrospect
      tags: [OAuth]
      security:
        - clientCredentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Token to introspect
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
      responses:
        '200':
          description: Token introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenIntrospectionResponse'

  /oauth/revoke:
    post:
      summary: Revoke Token
      description: Token revocation per RFC 7009
      operationId: oauthRevoke
      tags: [OAuth]
      security:
        - clientCredentials: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: Token to revoke
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
      responses:
        '200':
          description: Token revoked (or already revoked)

  /api/v1/api-keys:
    get:
      summary: List API Keys
      description: List all API keys (requires admin scope)
      operationId: listApiKeys
      tags: [API Keys]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'

    post:
      summary: Create API Key
      description: Create a new API key
      operationId: createApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'

  /api/v1/api-keys/{id}:
    delete:
      summary: Revoke API Key
      description: Revoke an API key
      operationId: revokeApiKey
      tags: [API Keys]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked
        '404':
          $ref: '#/components/responses/NotFound'

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      tags: [System]
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  version:
                    type: string
                    example: 0.1.0

  /api/v1/notes:
    get:
      summary: List notes
      operationId: listNotes
      tags: [Notes]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: filter
          in: query
          description: Filter expression (starred, archived)
          schema:
            type: string
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [created_at_utc, updated_at_utc, title]
        - name: sort_order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: collection_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotesListResponse'

    post:
      summary: Create a note
      operationId: createNote
      tags: [Notes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoteRequest'
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

  /api/v1/notes/{id}:
    get:
      summary: Get a note
      operationId: getNote
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '200':
          description: Full note details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoteFull'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update a note
      operationId: updateNote
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNoteRequest'
      responses:
        '204':
          description: Note updated

    delete:
      summary: Delete a note (soft delete)
      operationId: deleteNote
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '204':
          description: Note deleted

  /api/v1/notes/{id}/status:
    patch:
      summary: Update note status
      operationId: updateNoteStatus
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                starred:
                  type: boolean
                archived:
                  type: boolean
      responses:
        '204':
          description: Status updated

  /api/v1/notes/{id}/restore:
    post:
      summary: Restore a deleted note
      operationId: restoreNote
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '204':
          description: Note restored

  /api/v1/notes/{id}/tags:
    get:
      summary: Get note tags
      operationId: getNoteTags
      tags: [Tags]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '200':
          description: List of tag names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

    put:
      summary: Set note tags
      operationId: setNoteTags
      tags: [Tags]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              properties:
                tags:
                  type: array
                  items:
                    type: string
      responses:
        '204':
          description: Tags updated

  /api/v1/notes/{id}/links:
    get:
      summary: Get note links
      operationId: getNoteLinks
      tags: [Links]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '200':
          description: Incoming and outgoing links
          content:
            application/json:
              schema:
                type: object
                properties:
                  outgoing:
                    type: array
                    items:
                      $ref: '#/components/schemas/Link'
                  incoming:
                    type: array
                    items:
                      $ref: '#/components/schemas/Link'


  /api/v1/notes/{id}/full:
    get:
      summary: Get full reconstructed document
      description: |
        Retrieves the full reconstructed document for a note. For chunked documents,
        this stitches all chunks back together in order, removing overlaps. For regular
        notes, it returns the content as-is.
        
        This endpoint is useful for:
        - Downloading complete documents that were split during ingestion
        - Viewing the full original content before it was chunked
        - Exporting documents with metadata about chunking
      operationId: getFullDocument
      tags: [Notes]
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        '200':
          description: Full reconstructed document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullDocumentResponse'
        '404':
          description: Note not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/search:
    get:
      summary: Search notes
      operationId: searchNotes
      tags: [Search]
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: mode
          in: query
          description: Search mode
          schema:
            type: string
            enum: [hybrid, fts, semantic]
            default: hybrid
        - name: filters
          in: query
          description: Filter expression
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'

  /api/v1/tags:
    get:
      summary: List all tags
      operationId: listTags
      tags: [Tags]
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'

  /api/v1/jobs:
    get:
      summary: List recent jobs
      operationId: listJobs
      tags: [Jobs]
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, running, completed, failed, cancelled]
      responses:
        '200':
          description: List of jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'

    post:
      summary: Create a job
      operationId: createJob
      tags: [Jobs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
      responses:
        '201':
          description: Job created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid

  /api/v1/jobs/{id}:
    get:
      summary: Get job status
      operationId: getJob
      tags: [Jobs]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v1/jobs/pending:
    get:
      summary: Get pending jobs count
      operationId: pendingJobsCount
      tags: [Jobs]
      responses:
        '200':
          description: Pending count
          content:
            application/json:
              schema:
                type: object
                properties:
                  pending:
                    type: integer

components:
  parameters:
    NoteId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    NoteSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        snippet:
          type: string
        created_at_utc:
          type: string
          format: date-time
        updated_at_utc:
          type: string
          format: date-time
        starred:
          type: boolean
        archived:
          type: boolean
        tags:
          type: array
          items:
            type: string
        has_revision:
          type: boolean
        metadata:
          type: object

    NoteFull:
      type: object
      properties:
        note:
          $ref: '#/components/schemas/NoteMeta'
        original:
          $ref: '#/components/schemas/NoteOriginal'
        revised:
          $ref: '#/components/schemas/NoteRevised'
        tags:
          type: array
          items:
            type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'


    FullDocumentResponse:
      type: object
      description: Full reconstructed document with metadata about chunking
      required:
        - id
        - title
        - content
        - is_chunked
        - tags
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: The note ID (or chain ID for chunked documents)
        title:
          type: string
          description: Original document title (with chunk suffixes removed)
        content:
          type: string
          description: Full reconstructed content (stitched from chunks if chunked)
        chunks:
          type: array
          nullable: true
          description: Chunk summaries (null for regular notes)
          items:
            $ref: '#/components/schemas/ChunkSummary'
        total_chunks:
          type: integer
          nullable: true
          description: Total number of chunks (null for regular notes)
        is_chunked:
          type: boolean
          description: Whether this document was chunked
        tags:
          type: array
          items:
            type: string
          description: All tags from all chunks (deduplicated)
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp (latest of all chunks)

    ChunkSummary:
      type: object
      description: Summary information about a single chunk in a document chain
      required:
        - id
        - sequence
        - title
        - byte_range
      properties:
        id:
          type: string
          format: uuid
          description: The chunk's note ID
        sequence:
          type: integer
          minimum: 1
          description: Sequence number in the document chain
        title:
          type: string
          description: Chunk title (includes "Part X/Y" suffix)
        byte_range:
          type: array
          description: Start and end byte positions in the original document
          items:
            type: integer
          minItems: 2
          maxItems: 2
          example: [0, 1000]
    NoteMeta:
      type: object
      properties:
        id:
          type: string
          format: uuid
        collection_id:
          type: string
          format: uuid
          nullable: true
        format:
          type: string
        source:
          type: string
        created_at_utc:
          type: string
          format: date-time
        updated_at_utc:
          type: string
          format: date-time
        starred:
          type: boolean
        archived:
          type: boolean
        last_accessed_at:
          type: string
          format: date-time
          nullable: true
        title:
          type: string
          nullable: true
        metadata:
          type: object

    NoteOriginal:
      type: object
      properties:
        content:
          type: string
        hash:
          type: string
        user_created_at:
          type: string
          format: date-time
          nullable: true
        user_last_edited_at:
          type: string
          format: date-time
          nullable: true

    NoteRevised:
      type: object
      properties:
        content:
          type: string
        last_revision_id:
          type: string
          format: uuid
        ai_metadata:
          type: object
          nullable: true
        ai_generated_at:
          type: string
          format: date-time
          nullable: true
        user_last_edited_at:
          type: string
          format: date-time
          nullable: true
        is_user_edited:
          type: boolean
        generation_count:
          type: integer
        model:
          type: string
          nullable: true

    NotesListResponse:
      type: object
      properties:
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteSummary'
        total:
          type: integer

    CreateNoteRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: Markdown content
        format:
          type: string
          default: markdown
        source:
          type: string
          default: api
        collection_id:
          type: string
          format: uuid
        tags:
          type: array
          items:
            type: string

    UpdateNoteRequest:
      type: object
      properties:
        content:
          type: string
        starred:
          type: boolean
        archived:
          type: boolean

    Link:
      type: object
      properties:
        id:
          type: string
          format: uuid
        from_note_id:
          type: string
          format: uuid
        to_note_id:
          type: string
          format: uuid
          nullable: true
        to_url:
          type: string
          nullable: true
        kind:
          type: string
        score:
          type: number
        created_at_utc:
          type: string
          format: date-time
        snippet:
          type: string
          nullable: true
        metadata:
          type: object
          nullable: true

    Tag:
      type: object
      properties:
        name:
          type: string
        created_at_utc:
          type: string
          format: date-time

    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchHit'
        query:
          type: string
        total:
          type: integer

    SearchHit:
      type: object
      properties:
        note_id:
          type: string
          format: uuid
        score:
          type: number
        snippet:
          type: string


    StrictTagFilterInput:
      type: object
      description: Strict tag filter for SKOS-based filtering with notation resolution
      properties:
        required_tags:
          type: array
          items:
            type: string
          description: Required tag notations (AND logic) - all must be present
          example: ["programming/rust", "tutorial"]
        any_tags:
          type: array
          items:
            type: string
          description: Any tag notations (OR logic) - at least one must be present
          example: ["guide", "documentation"]
        excluded_tags:
          type: array
          items:
            type: string
          description: Excluded tag notations (NOT logic) - none must be present
          example: ["archive", "draft"]
        required_schemes:
          type: array
          items:
            type: string
          description: Required scheme notations - notes must have tags from these schemes
          example: ["topics"]
        excluded_schemes:
          type: array
          items:
            type: string
          description: Excluded scheme notations - notes must not have tags from these schemes
          example: ["deprecated"]
        min_tag_count:
          type: integer
          minimum: 0
          description: Minimum number of tags required
          example: 2
        include_untagged:
          type: boolean
          default: true
          description: Whether to include notes with no tags

    Job:
      type: object
      properties:
        id:
          type: string
          format: uuid
        note_id:
          type: string
          format: uuid
          nullable: true
        job_type:
          type: string
          enum: [ai_revision, embedding, linking, context_update, title_generation]
        status:
          type: string
          enum: [pending, running, completed, failed, cancelled]
        priority:
          type: integer
        payload:
          type: object
          nullable: true
        result:
          type: object
          nullable: true
        error_message:
          type: string
          nullable: true
        progress_percent:
          type: integer
        progress_message:
          type: string
          nullable: true
        retry_count:
          type: integer
        max_retries:
          type: integer
        created_at:
          type: string
          format: date-time
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true

    CreateJobRequest:
      type: object
      required: [job_type]
      properties:
        note_id:
          type: string
          format: uuid
        job_type:
          type: string
          enum: [ai_revision, embedding, linking, context_update, title_generation]
        priority:
          type: integer
        payload:
          type: object

    # OAuth2 Schemas
    AuthorizationServerMetadata:
      type: object
      properties:
        issuer:
          type: string
        authorization_endpoint:
          type: string
        token_endpoint:
          type: string
        registration_endpoint:
          type: string
        introspection_endpoint:
          type: string
        revocation_endpoint:
          type: string
        response_types_supported:
          type: array
          items:
            type: string
        grant_types_supported:
          type: array
          items:
            type: string
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
        scopes_supported:
          type: array
          items:
            type: string
        code_challenge_methods_supported:
          type: array
          items:
            type: string

    ClientRegistrationRequest:
      type: object
      required: [client_name]
      properties:
        client_name:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
        grant_types:
          type: array
          items:
            type: string
            enum: [authorization_code, client_credentials, refresh_token]
        response_types:
          type: array
          items:
            type: string
            enum: [code, token]
        scope:
          type: string
        token_endpoint_auth_method:
          type: string
          enum: [client_secret_basic, client_secret_post, none]
        client_uri:
          type: string
        logo_uri:
          type: string
        contacts:
          type: array
          items:
            type: string
        policy_uri:
          type: string
        tos_uri:
          type: string
        software_id:
          type: string
        software_version:
          type: string
        software_statement:
          type: string
          description: JWT containing client metadata

    ClientRegistrationResponse:
      type: object
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        client_id_issued_at:
          type: integer
        client_secret_expires_at:
          type: integer
        client_name:
          type: string
        redirect_uris:
          type: array
          items:
            type: string
        grant_types:
          type: array
          items:
            type: string
        response_types:
          type: array
          items:
            type: string
        scope:
          type: string
        token_endpoint_auth_method:
          type: string
        registration_access_token:
          type: string
        registration_client_uri:
          type: string

    TokenRequest:
      type: object
      required: [grant_type]
      properties:
        grant_type:
          type: string
          enum: [authorization_code, client_credentials, refresh_token]
        code:
          type: string
          description: Required for authorization_code grant
        redirect_uri:
          type: string
          description: Required for authorization_code grant
        refresh_token:
          type: string
          description: Required for refresh_token grant
        scope:
          type: string
        code_verifier:
          type: string
          description: PKCE code verifier
        client_id:
          type: string
          description: For client_secret_post auth
        client_secret:
          type: string
          description: For client_secret_post auth

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        refresh_token:
          type: string
        scope:
          type: string

    TokenIntrospectionResponse:
      type: object
      properties:
        active:
          type: boolean
        scope:
          type: string
        client_id:
          type: string
        username:
          type: string
        token_type:
          type: string
        exp:
          type: integer
        iat:
          type: integer
        sub:
          type: string
        aud:
          type: string
        iss:
          type: string

    OAuthError:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - invalid_grant
            - unauthorized_client
            - unsupported_grant_type
            - invalid_scope
            - server_error
        error_description:
          type: string
        error_uri:
          type: string

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key_prefix:
          type: string
        name:
          type: string
        description:
          type: string
        scope:
          type: string
        rate_limit_per_minute:
          type: integer
        rate_limit_per_hour:
          type: integer
        last_used_at:
          type: string
          format: date-time
        use_count:
          type: integer
        is_active:
          type: boolean
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        scope:
          type: string
          default: read
        expires_in_days:
          type: integer

    CreateApiKeyResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        api_key:
          type: string
          description: The full API key (only shown once)
        key_prefix:
          type: string
        name:
          type: string
        scope:
          type: string
        expires_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token (OAuth2 access token or API key)

    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            read: Read access to notes, tags, and search
            write: Create and update notes and tags
            delete: Delete notes
            admin: Administrative access
            mcp: MCP server access (includes read and write)
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes:
            read: Read access to notes, tags, and search
            write: Create and update notes and tags
            delete: Delete notes
            admin: Administrative access
            mcp: MCP server access (includes read and write)

    clientCredentials:
      type: http
      scheme: basic
      description: Client credentials (client_id:client_secret)

tags:
  - name: OAuth
    description: OAuth2 authentication endpoints
  - name: API Keys
    description: API key management
  - name: System
    description: Health and status endpoints
  - name: Notes
    description: Note CRUD operations
  - name: Tags
    description: Tag management
  - name: Links
    description: Note relationships
  - name: Search
    description: Full-text and semantic search
  - name: Jobs
    description: Background job management
